<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nacionalidad</title>
</head>
<body>
    <form th:action="@{/}" method="post">
        <label>Seleccione su nacionalidad: </label>
		<label><input type="radio" value="España" name="nacionalidadAgente">España</label>
		<label><input type="radio" value="India" name="nacionalidadAgente">India</label>
		<label><input type="radio" value="EEUU" name="nacionalidadAgente">EEUU</label>
		<label><input type="radio" value="China" name="nacionalidadAgente">China</label>
		<label><input type="radio" value="Brasil" name="nacionalidadAgente">Brasil</label>
		<input type="hidden" name ="etapa" value="nacionalidad">
		<p th:if="${errores}" th:text="${errores}"></p>
		<button type="submit">Continuar</button>
    </form>
	
	<form th:action="@{/}" method="post">
		<input type="hidden" name ="etapaVolver" value="volverNombre">
		<input type="hidden" name="nombreAgente" th:value="${nombreAgente}">
		<button type="submit">Volver</button>
	</form>
</body>
</html>