<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carrito</title>
</head>
<body>

<h2>Hola, <span th:text="${user}">Usuario</span></h2>

<h3>Carrito de compra</h3>

<div th:if="${error}" style="color:red; font-weight: bold;">
    <p th:text="${error}"></p>
</div>

<form action="/actualizar" method="post">

    <table border="1">
        <tr>
            <th>Producto</th>
            <th>Stock disponible</th>
            <th>Cantidad</th>
        </tr>

        <tr th:each="p : ${products}">
            <td th:text="${p.key}"></td>
            <td th:text="${p.value}"></td>

            <td>
                <input type="number"
                       th:name="'prod_' + ${p.key}"
                       th:value="${cart[p.key]}"
                       min="0">
            </td>
        </tr>
    </table>

    <br>
    <button type="submit">Actualizar carrito</button>
</form>

<form action="/finalizar" method="post">
    <button type="submit" style="margin-top: 10px;">Finalizar compra</button>
</form>

<br><br>
<a href="/admin">Ir a administración</a>

</body>
</html>
