<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmación</title>
</head>
<body>

<h1>Compra realizada</h1>

<p>Gracias <b th:text="${user}"></b> por tu compra.</p>

<h2>Resumen:</h2>

<table border="1" cellpadding="5">
    <thead>
    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="entry : ${purchased}">
        <td th:text="${entry.key}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
    </tbody>
</table>

<br>

<form th:action="@{/carrito}" method="get">
    <button type="submit">Volver al carrito</button>
</form>

</body>
</html>

